@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Archivo", "Noto Sans KR", sans-serif;
  font-size: 20px;
  letter-spacing: 0.1rem;
}

li, ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#wrap .intro-wrap {
  width: 100%;
  height: 100vh;
}
#wrap .intro-wrap .intro {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap .intro-wrap .intro svg {
  fill: none;
  width: 1000px;
  stroke-width: 2.5rem;
}
#wrap .intro-wrap .intro svg path {
  stroke: #000;
  stroke-dasharray: var(--length);
  stroke-dashoffset: var(--length);
  animation: path var(--duration) forwards;
  animation-delay: var(--delay);
}
@keyframes path {
  100% {
    stroke-dashoffset: 0;
  }
}
#wrap .portfolio-wrap .portfolio-wrap-box {
  width: 100%;
  height: 100vh;
}
#wrap .portfolio-wrap .portfolio-wrap-box .portfolio {
  width: 1400px;
  height: 670px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#wrap .portfolio-wrap .portfolio-wrap-box .portfolio .portfolio-text-wrap {
  width: 380px;
  height: 670px;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  justify-content: center;
}
#wrap .portfolio-wrap .portfolio-wrap-box .portfolio .portfolio-text-wrap .portfolio-text-num {
  width: 100%;
  margin-bottom: 30px;
}
#wrap .portfolio-wrap .portfolio-wrap-box .portfolio .portfolio-text-wrap .portfolio-text-num h2 {
  font-size: 2.2rem;
}
#wrap .portfolio-wrap .portfolio-wrap-box .portfolio .portfolio-text-wrap .portfolio-text-num h2 b {
  font-size: 3.5rem;
  padding-left: 13px;
}
#wrap .portfolio-wrap .portfolio-wrap-box .portfolio .portfolio-text-wrap .portfolio-text-title {
  width: 100%;
  margin-bottom: 1rem;
}
#wrap .portfolio-wrap .portfolio-wrap-box .portfolio .portfolio-text-wrap .portfolio-text-title h3 {
  font-size: 1.15rem;
  text-transform: uppercase;
}
#wrap .portfolio-wrap .portfolio-wrap-box .portfolio .portfolio-text-wrap .portfolio-text-title p {
  font-size: 0.9rem;
}
#wrap .portfolio-wrap .portfolio-wrap-box .portfolio .portfolio-text-wrap .portfolio-text-content-wrap {
  width: 100%;
}
#wrap .portfolio-wrap .portfolio-wrap-box .portfolio .portfolio-text-wrap .portfolio-text-content-wrap p {
  letter-spacing: 0.01rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin-bottom: 20px;
}
#wrap .portfolio-wrap .portfolio-wrap-box .portfolio .portfolio-text-wrap sub {
  width: 100%;
  font-size: 0.65rem;
  line-height: 0.8rem;
  margin-top: 10px;
}
#wrap .portfolio-wrap .portfolio-wrap-box .portfolio .portfolio-text-wrap .portfolio-btn-wrap {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
#wrap .portfolio-wrap .portfolio-wrap-box .portfolio .portfolio-text-wrap .portfolio-btn-wrap .portfolio-btn {
  font-size: 1rem;
  border: 1px solid #ababab;
  letter-spacing: 0.15rem;
  padding: 10px 15px;
}
#wrap .portfolio-wrap .portfolio-wrap-box .portfolio .portfolio-text-wrap:nth-child(2n) {
  text-align: left;
}
#wrap .portfolio-wrap .portfolio-wrap-box .portfolio .portfolio-img-wrap {
  width: 570px;
  height: 670px;
  display: flex;
  overflow: hidden;
  box-shadow: 4px 4px 4px #d9d9d9;
  border-radius: 10% 30% 0% 30%;
  background-color: wheat;
  position: relative;
}
#wrap .portfolio-wrap .portfolio-wrap-box .portfolio .portfolio-img-wrap a img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 7s ease-in-out;
}
#wrap .about-me-wrap {
  width: 100%;
  height: 100vh;
}
#wrap .about-me-wrap .about-me {
  width: 1400px;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
#wrap .about-me-wrap .about-me .about-me-intro {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
}
#wrap .about-me-wrap .about-me .about-me-intro .about-me-portrait {
  width: 200px;
  height: 200px;
  background-color: #fff;
  position: relative;
}
#wrap .about-me-wrap .about-me .about-me-intro .about-me-portrait .qweqwe {
  width: 280px;
  height: 280px;
  background-image: url(../img/portrait1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#wrap .about-me-wrap .about-me .about-me-intro .about-me-portrait .qweqwe:hover {
  background-image: url(../img/portrait2.png);
}
#wrap .about-me-wrap .about-me .about-me-intro .about-me-portrait img {
  width: 130px;
  position: absolute;
  left: 170px;
  top: -60px;
}
#wrap .about-me-wrap .about-me .about-me-intro .about-me-title {
  margin-left: 30px;
  line-height: 1.5rem;
}
#wrap .about-me-wrap .about-me .about-me-intro .about-me-title strong {
  display: block;
  font-size: 25px;
}
#wrap .about-me-wrap .about-me .about-me-text {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info {
  height: 100%;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info .about-me-info-title {
  margin-bottom: 15px;
  text-transform: capitalize;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info .about-me-info-title h4 {
  font-size: 1.25rem;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info1 {
  width: 300px;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info1 .about-me-info-section-wrap {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info1 .about-me-info-section-wrap .about-me-info-section {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info1 .about-me-info-section-wrap .about-me-info-section .info-icon {
  width: 40px;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info1 .about-me-info-section-wrap .about-me-info-section .info-icon i {
  font-size: 2rem;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info1 .about-me-info-section-wrap .about-me-info-section .info-icon img {
  width: 40px;
  height: 40px;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info1 .info-text {
  font-size: 1.2rem;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info2 {
  width: 500px;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info2 .about-me-skill-section-wrap {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info2 .about-me-skill-section-wrap .about-me-skill-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 60px;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info2 .about-me-skill-section-wrap .about-me-skill-section .skill-name span {
  text-transform: uppercase;
  font-size: 1rem;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info2 .about-me-skill-section-wrap .about-me-skill-section .skill-max-bar {
  width: 250px;
  height: 15px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info2 .about-me-skill-section-wrap .about-me-skill-section .skill-max-bar .skill-bar {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  background-color: red;
  height: 100%;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info2 .about-me-skill-section-wrap .about-me-skill-section .skill-max-bar .skill-rate {
  position: absolute;
  right: -65px;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info3 {
  width: 400px;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info3 .Character-wrap {
  width: 100%;
  height: 400px;
  position: relative;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info3 .Character-wrap img {
  width: 250px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info3 .Character-wrap span {
  position: absolute;
  font-size: 0.8rem;
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info3 .Character-wrap span:nth-of-type(1) {
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info3 .Character-wrap span:nth-of-type(2) {
  top: 34.5%;
  left: 6%;
  transform: translate(-50%, -50%);
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info3 .Character-wrap span:nth-of-type(3) {
  top: 35.5%;
  right: -9%;
  transform: translate(-50%, -50%);
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info3 .Character-wrap span:nth-of-type(4) {
  top: 72%;
  left: 30%;
  transform: translate(-50%, -50%);
}
#wrap .about-me-wrap .about-me .about-me-text .about-me-info3 .Character-wrap span:nth-of-type(5) {
  top: 72%;
  right: 12%;
  transform: translate(-50%, -50%);
}